*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    direction: rtl;
}

body {
    -webkit-font-smoothing: antialiased;
    color: #333332;
    font-family: 'IranSans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    margin: 0;
}

.skill-set li:hover {
    background: #3498db;
}

h1 {
    color: rgba(0, 0, 0, .75);
    font-weight: 500;
}

.wrapper {
    height: 100%;
}

.left {
    background-color: rgba(0, 0, 0, .025);
    border-right: 1px solid rgba(0, 0, 0, .05);
    float: right;
    height: 100%;
    margin-left: -1px;
    min-width: 256px;
    position: fixed;
    width: 33.33%;
    display: flex;
}

.right {
    float: left;
    height: 100%;
    position: relative;
    width: 66.66%;
}


.name-hero {
    background: rgba(0, 0, 0, .001);
    /* margin: auto; */
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.me-img {
    background-size: 100%;
    background-position: 0px;
    border-radius: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;
    width: 200px;
}

.name-hero h1 {
    font-size: 1.5em;
    text-align: center;
}

.name-hero h1 em {
    rgba(0, 0, 0, .3);
    font-style: normal;
    font-weight: 700;
}

.name-hero p {
    color: rgba(0, 0, 0, .75);
    font-size: .75em;
    line-height: 1.5;
    margin: 0 8px 0 0;
    text-align: center;
}

.name-hero .name-text {
    margin: 0 auto;
    width: 85%;
}

.inner {
    margin: 0 auto;
    max-width: 975px;
    padding: 3em;
}

.inner h1 {
    font-size: 1.75em;
}

.inner p {
    color: rgba(0, 0, 0, .5);
}

.inner p em {
    color: rgba(0, 0, 0, 1);
    font-style: normal;
}

.inner section {
    margin: 100px auto;
}

ul {
    list-style-type: none;
    margin-top: -10px;
    max-width: 570px;
    padding: 0;
}

.skill-set li {
    background: rgba(0, 0, 0, .75);
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    list-style: none;
    margin: 15px 15px 0 0;
    padding: 10px;
    text-align: justify;
}

.scroll-down {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    gap: 5px;
    display: none;
}

@media screen and (max-width: 48em) {

    .right,
    .left {
        float: none;
        position: relative !important;
        width: 100%;
        min-height: 500px;
    }

    .handmade {
        text-align: center !important;
        margin-top: 0px !important;
    }

    .scroll-down {
        display: flex;
    }

    @media screen and (max-width: 75em) {
        body {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 60em) {
        body {
            font-size: 14px;
        }
    }

    .clearfix:after {
        content: " ";
        /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }

    .handmade {
        text-align: right;
        margin-top: 100px;
    }

    .handmade em {
        font-family: 'Shadows Into Light', cursive;
        font-size: 1.25em;
        margin-left: 5px;
    }
}
.em-backgroung {
    background-color: #efefef;
    font-size: 13px;
    padding: 3px;
    border-radius: 6px;
    font-style: normal;
    padding-inline: 8px;
    color: #333332;
    white-space: nowrap;
}
a {
    color: #0086df;
    text-decoration: none;
    cursor: pointer;
}
.info {
    font-weight: bold;
    direction: ltr;
}
li > em {
    font-style: normal;
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
}
